.container
  %h1
    Downloads
  %h2
    %small
      You need files? We've got them.
      If you don't know which one, you should go for universal.
  - @names.each_with_index do |name, name_index|
    - @numbers = []
    - @files = []
    - get_downloads(name).each_with_index do |build, index|
      - unless index > 1
        - @numbers << build['number']
        - @files << get_json(name, build['number'])['artifacts']
    %h2
      = name
      %small
        %a{:href => "http://ci.theronsminecraft.com/job/#{name}"}
          (More)
        %a{:href => "https://github.com/#{@repo_orgs[name_index]}/#{@file_names[name_index]}/releases/"}
          (Simple changelogs)
    %h3
      %small
        = @descriptions[name_index]
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Version
          %th MC Version
          %th Download
          %th Changelog
      %tbody
        - @files.each_with_index do |file, index|
          - unless index > 1
            %tr
              %td
                = get_version(file[0]['fileName'], @file_names[name_index])
              %td
                = get_mc_version(file[0]['fileName']).to_s.gsub('-','')
              %td
                - types = get_download_types(file)
                - file.each_with_index do |a_file, i|
                  %a{:href => "http://ci.theronsminecraft.com/job/#{name}/#{@numbers[index]}/artifact/build/libs/#{a_file['fileName']}", :class => "btn btn-default"}
                    = types[i]
              %td
                %a{:href => "http://ci.theronsminecraft.com/job/#{name}/#{@numbers[index]}/changes"}
                  Detailed Changelog

