.ui.page.segment.grid
  .row
    .sixteen.wide.column
      %h1
        Downloads
      %h2
        %small
          You need files? We've got them.
          If you don't know which one, you should go for universal.
      - @names.each_with_index do |name, name_index|
        %h2
          = name
          %small
            %a.ui.small.basic.button{:href => "http://ci.theronsminecraft.com/job/#{name}"}
              More
            %a.ui.small.basic.button{:href => "https://github.com/#{@repo_orgs[name_index]}/#{@file_names[name_index]}/releases/"}
              Simple changelogs
        %h3
          %small
            = @descriptions[name_index]
        %table.ui.table.segment
          %thead
            %tr
              %th Version
              %th MC Version
              %th Download
              %th Changelog
          %tbody
            - @files[name_index].each_with_index do |file, index|
              %tr
                %td
                  = @file_info[name_index][index]['version']
                %td
                  = @file_info[name_index][index]['mc_version']
                %td
                  - file.each_with_index do |a_file, i|
                    %a.ui.button.animated.fade{:class => @color[name_index][index][i], :href => "http://ci.theronsminecraft.com/job/#{name}/#{@numbers[name_index][index]}/artifact/build/libs/#{a_file['fileName']}"}
                      .visible.content
                        = @file_info[name_index][index]['types'][i]
                      .hidden.content
                        Click
                %td
                  %a.ui.small.basic.button{:href => "http://ci.theronsminecraft.com/job/#{name}/#{@numbers[name_index][index]}/changes"}
                    %i
                      Detailed Changelog

